.info{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    
}
header{
    background: rgba(255, 144, 14, 0.1);
    
height: 1322px;
left: 0;
top: 0 px;
position: absolute;

}
.heading{
    margin-left: 289px;
    width: 862px;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    
}


.index{
    display: flex;
    gap: 50px;
    text-align: center;
    color: #424242;
    width: 302px;


}
.explain{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
p, .again{

        margin-left: 40px;
        width: 662px;
        
        font-weight: 70;
        color: #727272;
}
.start{
    
width: 302px;
height: 53px;
margin-left: 60px;
margin-top: 2px;
}
.first{
    width: 180px;
    height: 64px;
    margin-left: 60px;
    margin-top: auto;
    background-color: orange;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.after{
    width: 180px;
height: 64px;
margin-left: 600px;
margin-top: auto;
background-color: orange;
color: white;
font-weight: 600;
font-size: 20px;
border-radius: 5px;
margin-bottom: 15px;
}
img{
    width: 1440px;
height: 700px;

top: 577px;
margin-left: 12px;
margin-bottom: 55px;
}
.all{
    width: 342px;
    height: 342px;
}
.column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}
.team-details{
    display: flex;
    justify-content: center;
    align-items: center;

}
.right{
    width: 468px;
height: 106px;
 margin-left: 20px;
top: 1609px;
margin-bottom: 5px;
font-size: 45px;
}
.icon{
    height: 90px;
    width: 50px;
}

.hdng{
    position: absolute;
width: 500px;
height: 600px;
left: 180px;
top: 2120px;
}

.devision{
    
    
        margin-left: 150px;
        width: 200px;
        font-weight: 70;
        color: #727272;
}
.align{
    margin-left: 200px;
}
.padding{
    padding: 30 42 30 30;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
width: 700px;

}
.middle {
    position: absolute;
    width: 327px;
    height: 53px;
    left: 445px;
    top: 3950px;
}
.architect{
    width: 800px;
height: 1200px;
left: 880px;
top: 2245px;

}
.features{
    display: flex;
    width: 1440px;
    height: 1050px;
}
.last{
    width: 342px;
height: 205.29px;
background-color: orange;
    color: white;
    margin-left: 750px;
margin-top: 31px;
}
.paragraph{
    font-weight: 70;
    color: #727272;
    margin-left: 120px;
}
.short{
    margin-left: 2px;
margin-top: 35px;
}
.end{
    margin-left: 120px;
    margin-top: 3px;
}
.img{
    width: 45px;
    height: 45px;
    margin-left: 120px;
    margin-bottom: 1px;
}
.align{
    margin-left: 135px;
}
.third{
    margin-left: 100px;
width: 662px;
font-weight: 70;
color: #727272;
}
.new{
    
box-sizing: border-box;

position: absolute;
width: 241.83px;
height: 205px;
left: 800px;
top: 3550px;

border: 1px solid #FF900E;
border-radius: 8px
}
.new-1{
    box-sizing: border-box;

position: absolute;
width: 241.83px;
height: 205px;
left: 200px;
top: 3550px;


border: 1px solid #FF900E;
border-radius: 8px;
}
.new-2{
    box-sizing: border-box;

position: absolute;
width: 241.83px;
height: 205px;
left: 500px;
top: 3550px;

border: 1px solid #FF900E;
border-radius: 8px;
}
.new-3{
    box-sizing: border-box;

position: absolute;
width: 241.83px;
height: 205px;
left: 1100px;
top: 3550px;
padding:45px 35px;

border: 1px solid #FF900E;
border-radius: 8px;
}
.message div{
    margin: 0 290;
}
.middle{
    position: absolute;
width: 327px;
height: 53px;
left: 785px;
top: 3800px;
}
.bottom{
    position: absolute;
width: 542px;
height: 52px;
left: 550px;
top: 3900px;
}
.minimize-1{
    width: 100px;
    height: 50px;
}
.minimize-2{
    width: 100px;
    height: 50px;
}
.minimize-3{
    width: 100px;
    height: 50px;
}
.minimize-4{
    width: 100px;
    height: 50px;
}
.minimize-5{
    width: 100px;
    height: 50px;
}
.sponser{
    display: flex;
    
    
    justify-content: center;
    gap: 50px;
  }


.make{
    position: absolute;
width: 620px;
height: 23px;
top:4100px;
left: 350px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
background-color: grey;



color: #424242;
}
@media only screen and (max-width:480px) {
.info{
    flex-direction: column;
    padding: 0px;
}
.index{
    flex-direction: column;
    
}
.heading{
    text-align: left;
font-size: 20px;
padding: 0px;
margin-left: 0px;
}
p{
    margin-left: 0px;
    width: 377px;
}
.first{
    margin-left: 0px;
}
img{
    width: 200px;
height: 200px;
top: 577px;
margin-left: 10px;
margin-bottom: 10px;
}
.team-details{
    flex-direction: column;
    align-items: flex-start;
}
.column{
    grid-template-columns: repeat(1, 1fr);
    height: 300px;
    width: 2900px;
}
.message{
    display: none;
}
.right{
    margin-top: 600px;
font-size: 14px;
}
.hdng{
    display: none;
}
.new-1{
    left: 90px;
top: 3350px;
}
.new-2{
    left: 100px;
top: 3600px;
}
.new{
    left: 100px;
top: 3850px;
}
.new-3{
    left: 100px;
top: 4100px;
}
.all{
    height: 200px;
    width: 200px;
}
.again{
    margin-left: 0px;
width: 400px;
}
.message{display: flex;
}
.sponser{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 600px;
}
.paragraph{
    .paragraph {
        margin-left: 12px;
        margin-top: 2px;
}
.middle{
    left: 79px;
top: 4300px;
}
.bottom {
    position: absolute;
    width: 542px;
    height: 52px;
    left: 5px;
    top: 4370px;
    font-size: 12px;
    width: 300px;
}
.end{
    margin-left: 20px;
margin-top: 3000px;
}

}
    


    



